APP_NAME=journal_logitrak
APP_ENV=production
APP_URL=https://journal.logitrak.ch

FRONTEND_PORT=3101
BACKEND_PORT=8101

DB_NAME=journal_logitrak
MONGO_ROOT_USER=journal_root
MONGO_ROOT_PASSWORD=CHANGEZ_MOI_mot_de_passe_root_fort
MONGO_APP_USER=journal_logitrak_user
MONGO_APP_PASSWORD=CHANGEZ_MOI_mot_de_passe_app_fort

JWT_SECRET=CHANGEZ_MOI_openssl_rand_hex_32

ADMIN_EMAIL=admin@logitrak.ch
ADMIN_PASSWORD=CHANGEZ_MOI
MANAGER_EMAIL=manager@logitrak.ch
MANAGER_PASSWORD=CHANGEZ_MOI
DRIVER_EMAIL=chauffeur@logitrak.ch
DRIVER_PASSWORD=CHANGEZ_MOI

NAVIXY_API_URL=https://api.navixy.com/v2
NAVIXY_HASH=VOTRE_CLE_API_NAVIXY

SUPERADMIN_EMAIL=superadmin@logitrak.ch
SUPERADMIN_PASSWORD=CHANGEZ_MOI

EMERGENT_LLM_KEY=VOTRE_CLE_POUR_OCR_GEMINI

SEED_DEMO_DATA=false
